@import "_variables"
@import "_mixins"
@import "_fonts"

@import "./_parts/_header"
@import "./_parts/_main"
@import "./_parts/_projects"

*
    box-sizing: border-box

body
    font-family: 'Geometria', sans-serif

.doma-logo
    text-transform: uppercase
    img
        margin-right: 20px

input:not([type=submit])
    @extend %input-std

@media (min-width: 1200px)
    .container
        max-width: 1170px
        padding: 0

.fs-12
    display: block
    font-size: 12px
    margin-top: 10px

.item-title
    +item-title(#284157)