@import "_variables"
@import "_mixins"
@import "_fonts"

@import "./_parts/_header"
@import "./_parts/_main"

*
    box-sizing: border-box

body
    font-family: 'Geometria', sans-serif

.doma-logo
    text-transform: uppercase
    img
        margin-right: 20px