.main
    background: url(../../../img/bg/bg_main.png) center center no-repeat
    height: 600px
    color: #fff
    padding-top: 70px
    h1
        font-weight: 700
        font-size: 36px
        margin-bottom: 40px
    h6
        margin-bottom: 45px
