input:not([type=submit]) {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.12px;
  padding: 1rem 0;
  border-radius: 5px;
  border: 1px solid #dcdcdc; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.eot");
  src: url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Light.eot");
  src: url("../fonts/Geometria-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.eot");
  src: url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.header {
  padding: 15px 0; }
  .header > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .header__button {
    cursor: pointer;
    color: #fff;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #ffb111;
    background-image: -o-linear-gradient(311deg, #fb2b2b 0%, #f86c26 100%);
    background-image: linear-gradient(-221deg, #fb2b2b 0%, #f86c26 100%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header .header__button:hover {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
  .header .header__hours-wrapper {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .header__hours-wrapper:after {
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 500;
      content: '\f017';
      font-size: 1.3rem;
      color: #fb2b2b;
      margin-left: 25px; }

.main {
  background: url(../../../img/bg/bg_main.png) center center no-repeat;
  height: 600px;
  color: #fff;
  padding-top: 70px;
  position: relative; }
  .main h1 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 40px; }
  .main h6 {
    margin-bottom: 45px; }
  .main .main__hexagon {
    position: relative;
    width: 370px;
    height: 213.62px;
    background-color: #fff;
    position: absolute;
    bottom: 32%;
    right: 19%; }
    .main .main__hexagon:before, .main .main__hexagon:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 185px solid transparent;
      border-right: 185px solid transparent; }
    .main .main__hexagon:before {
      bottom: 100%;
      border-bottom: 106.81px solid #fff; }
    .main .main__hexagon:after {
      top: 100%;
      width: 0;
      border-top: 106.81px solid #fff; }
    .main .main__hexagon form {
      margin: -36px auto 0 auto;
      width: 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      z-index: 10;
      position: relative; }
      .main .main__hexagon form p {
        color: #284157;
        font-weight: 700;
        text-align: center; }
      .main .main__hexagon form input:not([type=submit]) {
        width: 95%;
        height: 45px;
        text-align: center;
        margin-bottom: 10px; }
      .main .main__hexagon form input[type=submit] {
        cursor: pointer;
        color: #fff;
        width: 95%;
        height: 50px;
        border-radius: 5px;
        background-color: #ffb111;
        background-image: -o-linear-gradient(311deg, #fb2b2b 0%, #f86c26 100%);
        background-image: linear-gradient(-221deg, #fb2b2b 0%, #f86c26 100%);
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-top: 15px; }
        .main .main__hexagon form input[type=submit]:hover {
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05); }
  .main .main__wedo {
    width: 46%;
    margin-top: 18%; }
    .main .main__wedo ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0; }
      .main .main__wedo ul li {
        list-style-type: none;
        width: 22%;
        font-weight: 500;
        font-size: 14px; }

.projects {
  padding: 100px 0 0 0; }
  .projects > div {
    text-align: center; }
  .projects .projects__filters {
    margin-bottom: 60px; }
    .projects .projects__filters .filters_item {
      cursor: pointer;
      color: #2a4258;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 13px 15px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      border: 2px solid transparent; }
      .projects .projects__filters .filters_item:hover {
        border-radius: 5px;
        border: 2px solid #5e819b; }
      .projects .projects__filters .filters_item.active {
        border-radius: 5px;
        border: 2px solid #41596b; }
  .projects .projects__slider {
    margin-bottom: 90px; }
    .projects .projects__slider .projects__slider_item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .projects .projects__slider .projects__slider_item > *:not(:last-child) {
        margin-bottom: 30px; }
      .projects .projects__slider .projects__slider_item h5 {
        color: #284157;
        font-size: 20px;
        font-weight: 700; }
      .projects .projects__slider .projects__slider_item .slider_item_button {
        cursor: pointer;
        color: #fff;
        width: 50%;
        height: 50px;
        border-radius: 5px;
        background-color: #ffb111;
        background-image: -o-linear-gradient(311deg, #fb2b2b 0%, #f86c26 100%);
        background-image: linear-gradient(-221deg, #fb2b2b 0%, #f86c26 100%);
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .projects .projects__slider .projects__slider_item .slider_item_button:hover {
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05); }

.wecando {
  background: url(../../../img/bg/leaves.png), url(../../../img/bg/bg_sliders.png);
  background-position: top center;
  background-repeat: no-repeat;
  height: 1440px;
  padding: 100px 0;
  width: 100%; }
  .wecando .item-title {
    margin-bottom: 0; }
  .wecando > div > p {
    margin: 50px 0;
    font-size: 20px;
    font-weight: 500; }
  .wecando > * {
    text-align: center; }
  .wecando .wecando__input-wrapper {
    margin-top: 60px;
    padding: 70px 100px;
    background-color: #fff; }
    .wecando .wecando__input-wrapper .item-title {
      margin-bottom: 0; }
    .wecando .wecando__input-wrapper input:not([type=submit]) {
      padding: 20px 15px;
      width: 30%; }
    .wecando .wecando__input-wrapper input[type=submit] {
      cursor: pointer;
      color: #fff;
      width: 30%;
      height: 60px;
      border-radius: 5px;
      background-color: #ffb111;
      background-image: -o-linear-gradient(311deg, #fb2b2b 0%, #f86c26 100%);
      background-image: linear-gradient(-221deg, #fb2b2b 0%, #f86c26 100%);
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .wecando .wecando__input-wrapper input[type=submit]:hover {
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05); }
    .wecando .wecando__input-wrapper p {
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      margin: 40px 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Geometria', sans-serif; }

.doma-logo {
  text-transform: uppercase; }
  .doma-logo img {
    margin-right: 20px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding: 0; } }

.fs-12 {
  display: block;
  font-size: 12px;
  margin-top: 10px; }

.item-title {
  color: #284157;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 60px; }

.item-title--small {
  font-size: 22px;
  text-align: left; }
